/*global==============*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
*{
    margin: 0px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Sarala", sans-serif, serif;
}
:root{
    --white: #FFF2E7;
    --brownClean: #ECD6C4;
}

h1,h2,h3,h4{
    font-family: 'Righteous', 'cursive',Times;
    color: var(--white);
    font-weight: 400;
}
body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}
/*global==============*/

/*header==============*/
header{
    padding-top: 30px;
    display:flex;
    align-items: center;
    justify-content:space-around
}
/*nav==========*/
nav{
    display: flex;
    gap:30px
}
nav a {
    color: var(--white);
    transition-duration: 0.1s;
}
nav a:hover {
    text-decoration: underline;
    opacity: 0.8;
    font-size: 17px;
}
/*nav==========*/
/*header==============*/

/*main====================*/
main{
    display: flex;
    flex-direction: column;
    border-top: 0.4px solid var(--white);
    margin-top: 20px;
}
/*<section>#mainContent=*/
#mainContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
/*.text=====*/
#mainContent .text{
    display: flex;
    flex-direction: column;
    gap: 24px
}
#mainContent .text h1{
    font-size: 64px;
}
#mainContent .text h2{
    font-size: 24px;
}
.text button{
    background-color: var(--brownClean);
    width: 185px;
    height: 67px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 24px;
    transition-duration: 0.8s;
    cursor: pointer;
  
}
.text button:hover{
    opacity: 0.6;
}
/*.text=====*/
/*<section>#mainContent=*/

/*<section>#secondContent=*/
#secondContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:22px
}
#secondContent h2{
    border-top: 0.4px solid var(--white);
    padding-top: 64px;
    margin-bottom: 18px;
}
#secondContent p{
    color: var(--white);
    font-size: 18px;
}
/*<section>#secondContent=*/
/*main======================*/

/*footer====================*/
footer{
    border-top: 0.4px solid var(--white);
    margin-top: 40px;
    padding: 40px;
}
footer img{
    display: block;
    margin: 0 auto;
}
/*footer====================*/
