/*Global==========*/
*{
    margin:0;
    padding:0;
    border: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}
header, main{
    width: 70%;
    margin: 0 auto;
}
/* global=============*/

/*header===============*/
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid white;
    padding: 50px 20px 30px 0px;
}
header svg{ 
    margin-top: -20px
}

/*nav========*/
nav{
    display: flex;
    gap: 30px;
}
nav a {
    color: white;
    font-size: 18px;
    min-width: 120px;
}
nav a:nth-of-type(1){

    width: 180px
}
/*nav========*/

/*header===============*/

/*main=================*/

/*presentation===*/
main #presentation{
    display: flex;
    margin-top: 80px
}
main #presentation h1{
    font-size: 50px;
    color: #fff
}
#presentation p{
    color: rgb(214, 214, 214);
    font-size: 17;
    margin: 50px 0
}
#presentation button{
    background: #fff;
    padding: 13px;
    font-size: 18px;
    border-radius: 8px
}
#presentation svg{
    
    
    margin: -30px auto 0px auto;
    width: 300px;
    height: 300px;
   
}
/*presentation===*/
/*aboutUs========*/
#aboutUs{
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 100px
    
}
#aboutUs h2::before{
    content: '';
    margin-top: -60px;
    width: 260px;
    height: 1px;
    background: rgb(172, 172, 172);
    position: absolute;

}
#aboutUs h2{
    margin: 20px 0px;
}
#aboutUs p{
    margin: 15px 0px ;
    
}
#aboutUs span{
    font-weight: 600;
}
/*main=================*/
/*footer===============*/
footer{
    margin-top: 40px;
    display: flex;
    border-top: 1px solid gray;

}
footer svg{
    margin: 30px auto;
    
}
